form > *{
    display: block;
    @include chathura(1.95rem, auto);
    // background: $background-color;
}

input[type='text'], 
input[type='email'], 
textarea {
    background: $background-color;
    border: black;
    border-bottom: 2px $second-color solid;
}

// CHANGE THIS
label {
    display: none;
}

input[type='text'], 
input[type='email'] {
    // background: wheat;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 20px;
    color: white;
    // flex-shrink: 0;
}

.form-part-1 input[type='text'] {
    margin-right: 40px;
}


textarea {
    color: white;
    border: 2px $second-color solid;
    width: 100%;
    padding: 5%;
    // height: 4rem;
    // width: 50rem;
}

::placeholder {
    color: white;
    opacity: 1;
    // font-size: 1.5em;
  }

input[type='submit'] {
    width: 100%;
    border: 0;
    padding: 10px;
    color: white;
    background: $primary-color;
    margin: 5% 0;
}

.contact + form {
    background: $background-color-2;
    flex-basis: 600px;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 5%;
}

.contact + form textarea, 
.contact + form input[type='text'],
.contact + form input[type='email'] {
    background: $background-color-2;
}

.contact + form input[type='text'], 
.contact + form input[type='email'], 
.contact + form textarea {
    border-color: white;
}