$background-color: #111010;
$background-color-2: #220303;
$highlight-color: #ffffff;
$primary-color: #bf2603;
$second-color: #ff8327;


@mixin chathura($size-value, $weight-value) {
    font-family: 'Chathura', sans-serif;
    font-size: $size-value;
    font-weight: $weight-value;
}

@mixin tulpen($size-value, $weight-value) {
    font-family: 'Tulpen One', cursive;
    font-size: $size-value;
    font-weight: $weight-value;
}

html {
    font-size: 125%;
}

body {
    background: $background-color;
    color: $highlight-color;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

 .image-holder {
    // flex-basis: 300px;
    // flex-grow: 1;
    // background: white;
 }

a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.fty-px-left-mar {
    margin-left: 50px;
}
.wrapper {
    width: 80%;
}

.wrapper, .wrapper-full-width {
    max-width: 1600px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
}

.row-reverse-flex {
    flex-direction: row-reverse;
}

.v-flex {
    display: flex;
    flex-direction: column;    
}

.col-reverse-flex {
    flex-direction: column-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

// .flex-center-aln {
//     align-content: center;
// }

.space-between {
    justify-content: space-between;
}

p, .button-link {
    @include chathura(1.95rem, auto);
    line-height: 1.5rem;
}

p {
    letter-spacing: 0.07rem;
    // line-height: 1rem;
}

.bg-shadow-right {
    box-shadow: 20px 20px 0px 0px $second-color;
}

.bg-shadow-right-2 {
    box-shadow: 20px 20px 0px 0px $background-color-2;
}

.bg-shadow-left {
    box-shadow: -20px 20px 0px 0px $second-color;
}

.button-link {
    background: $second-color;
    text-transform: capitalize;
    width: 200px;
    text-align: center;
    padding: 10px;
    display: inline-block;
}

.button-link a {
    padding: 10px;
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}