header {
    background: black;
    background: url('../assets/home-image-1.jpg');
    height: 50vh;
}

header.home {
    height: 100vh;
}

nav ul {
    color: white;
    justify-content: center;
    @include chathura(1.9rem, bold);
    line-height: 1.5rem;
    letter-spacing: 0.063rem;
}

nav li {
    padding: 0 10px;
}

nav li:nth-of-type(3) {
    // font-size: 3rem;
    @include tulpen(3rem, auto)
}

li .page {
    color: $second-color;
}

.hero {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: calc(100% - 110px);
}

h1 {
    // @include tulpen(calc(1.3vw * 12), auto);
    @include tulpen(calc(16vw), auto);
    line-height: 70%;
    color: $second-color;
    width: 27%;
}

header h2 {
    @include chathura(5vw, bold);
    line-height: 30%;
    width: 27%;
    padding-left: 0.5%;
}

h1,
h2 {
    margin: 0 auto;
}

.head-two h1 {
    @include chathura(5vw, bold);
    color: white;
    width: 80%;
    // min-width: 300px;
    margin: 1% auto;
    // text-align: left;

}

footer {
    margin-top: 40px;
    text-align: center;
    // vertical-align: middle;
}

.blog-head h1, .contact-head h1 {
    @include chathura(60px, bold);
}

// Nav
// .nav-check::after{
//     content: "<i class="fas fa-chevron-circle-down"></i>";
//     width: 50px;
//     height: 50px;
//     background: tomato;
//     position: absolute;
// }

label.nav-check, #nav-toggle {
    display: none;
}

// label.nav-check {
//     float: left;
//     position: absolute;
//     left: 30px;
//     top: 30px;
//     // height: 80px;
//     // width: 80px;
//     font-size: 40px;
//     -ms-transform: rotate(-90deg); /* IE 9 */
//     -webkit-transform: rotate(-90deg); /* Safari */
//     transform: rotate(-90deg);
// }

// input[type='checkbox'], header ul.nav-list{
//     display: none;
// }

// input[type='checkbox']:checked + .nav-check + ul.nav-list {
//     color: red;
//     display: flex;
// }

// input[type='checkbox']:checked + label.nav-check {
//     // color: tomato;
//     -ms-transform: rotate(0deg); /* IE 9 */
//     -webkit-transform: rotate(0deg); /* Safari */
//     transform: rotate(0deg);
//     // left: -35px;
// }

// input[type='checkbox']:checked + label.nav-check {
//     -webkit-transition: transform 0.5s; /* Safari */
//     transition: transform 0.5s;
//     // -webkit-transition-delay: 0.1s; /* Safari */
//     // transition-delay: 0.1s;
//     // -webkit-transition: left 0.5s; /* Safari */
//     // transition: left 0.5s;
    
// }

// input[type='checkbox'] + label.nav-check {
//     -webkit-transition: transform 0.5s; /* Safari */
//     transition: transform 0.5s;
// }

