// header styles
header {
    background: black;
    background: url('../assets/home-image-1.jpg');
    height: 70vh;
    position: relative;
}

header.blog-head {
    background: url('../assets/blog-header-1.jpg');
    background-size: auto 100%;
    background-position: left bottom; 
}

header.home {
    height: 100vh;
}

.side-image {
    background: url('../assets/header-box.jpg');
    background-size: cover;
    width: 37%;
    height: 29vw;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.7;
}


// nav styles
nav ul {
    color: white;
    justify-content: center;
    @include chathura(1.9rem, bold);
    line-height: 1.5rem;
    letter-spacing: 0.063rem;
}

nav li {
    padding: 0 10px;
}

nav a:hover {
    color: $primary-color;
    font-size: 120%;
}

nav a:hover {
    transition: font-size 0.5s;
}

nav a {
    transition: font-size 0.5s;
}


nav li:nth-of-type(3) {
    @include tulpen(3rem, auto)
}

li .page {
    color: $second-color;
}

label.nav-check, #nav-toggle {
    display: none;
}

// hero and heading styles
.hero {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: calc(100% - 110px);
}

h1 {
    @include tulpen(calc(16vw), auto);
    line-height: 70%;
    color: $second-color;
    width: 27%;
}

header h2 {
    @include chathura(5vw, bold);
    line-height: 30%;
    width: 27%;
    padding-left: 0.5%;
}

h1,
h2 {
    margin: 0 auto;
}

.head-two h1 {
    @include chathura(5vw, bold);
    color: white;
    width: 80%;
    margin: 1% auto;

}

.blog-head h1, .contact-head h1 {
    @include chathura(80px, bold);
}



