// home info-box styles
.info-box {
    flex: 1 1 500px;
    position: relative;
    padding-left: 70px;
}

.info-box .icon {
    background: $primary-color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 12px;
}

.info-box h2 {
    line-height: 50%;
    padding-top: 40px;
}

.info-box a:hover, .fig-contain a:hover {
    color: $second-color;
}

.info-box a:hover, .fig-contain a:hover {
    transition: color 0.75s;
}

.info-box a, .fig-contain a {
    transition: color 0.5s;
}

section {
    padding: 50px 0;
}

// home host section styles
.host {
    text-align: center;
    padding: 7% 0;
}

.host h2 {
    color: $second-color;
}

.host .button-link {
    margin: 0 auto;
}

// home events section
figure.events {
    max-width: 100%;
    vertical-align: top;
}

.events .image-holder {
    width: 25%;
    margin-right: 10%;
    float: left;
}

.events figcaption {
    width: calc(74% - 10%);
    height: 350px;
    float: left;
}

.events .button-link {
    margin-bottom: 10px;
}

.events h2 {
    color: $second-color;
    width: 100%;
}

.events p {
    margin: calc(21% / 3) 0;
}

//  section, figure, generic styles
main h2 {
    @include chathura(3.5rem, bold)
}

// home gallery section styles
.gallery li:nth-child(2) {
    margin: 0 2%;
}

.gallery li {
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
}


.four-part-grid {
    flex: 0 1 700px;
}

figure {
    flex-basis: 500px;
    flex-grow: 1;
    max-width: 700px;
}

.fig-contain {
    background: linear-gradient(to bottom, $background-color 0%, $background-color 10%, $background-color-2 10%, $background-color-2 90%, $background-color 90% ,$background-color 100%);
}

figcaption h2 {
    line-height: 50%;
}

.fig-contain figure:nth-of-type(1) figcaption {
    text-align: right;
    padding: 15% 0 15% 15%;
}

.fig-contain figure:nth-of-type(2) figcaption {
    padding: 15% 15% 15% 0;
}

.push-right {
    padding: 0 0 15% 2.5%;
    margin: -100px 0 0 0;
}

.push-left {
    padding: 0 2.5% 15% 0;
}

// blog styles
.blog-img {
    margin-left: 18px;
}
 .blog-img img {
    box-shadow: -20px 0px 0px 0px $second-color;
 }

.blog-post {
    border: 5px $second-color solid;
    border-right: 0;
    border-top: 0;
}

.blog .posts a:hover {
    color: $second-color;
    font-size: 120%;
}

.blog .posts a:hover {
    transition-property: color, font-size;
    transition-duration: .75s;
}

.text-box {
    padding: 10%;
}

.text-box > h2 {
    line-height: 100%;
    margin-bottom: 5px;    
}

// blog styles
.push-right.blog {
    flex-basis: 1000px;
    flex-grow: 1;
    flex-shrink: 0;
}

.push-left.blog {
    flex-basis: 400px;
    flex-shrink: 1;
}

aside.blog {
    margin-top: 15%;
}

.posts {
    background: $background-color-2;
    margin-left: 15%;
}

.posts h2 {
    line-height: 50%;
    padding: 40px 30px 0 0;
}

.posts p {
    margin: 10px 0;
}

.posts a {
    color: $second-color;
}

.posts ul {
    list-style: disc;
    padding-left: 50px;
    color: $primary-color;
}

.posts ul li {
    margin: 5px 0;
    @include chathura(1.98rem, auto);
    line-height: 75%;
    vertical-align: middle;
}

.posts ul li a {
    color: white;
}

// blog comments styles
.comments, .blog form {
    width: 90%;
    margin: 0 auto;
}
h3, .comment h2 {
    color: $second-color;
    margin-top: 0;
    @include chathura(1.95rem, auto);
    line-height: 30%;
}

.comment h2 {
    @include chathura(3.5rem, auto);
}

.comment .text-box {
    padding: 5%;
}

.comment .image-holder {
    flex-basis: 100px;
    flex-shrink: 0;
}

// contact and social section styles
.social {
    margin-top: 50%;
    width: 160px;
}

.social li{
    color: white;
    flex-grow: 1;
    transition: transform 0.5s;
}

.social li:hover {
    font-size: 200%;
    transform: rotate(360deg);
}

.social li:hover {
    transition: transform 0.5s;
}

.social li a:hover {
    color: $second-color;
}

.social li a:hover {
    transition: color 0.5s;
}

.social li a {
    transition: color 0.5s;
}


.social p {
    margin: 10px 0;
}

.contact p {
    margin: 5px 0;
}

.contact p:nth-of-type(1){
    margin: 30px 0;
}

// footer styles
footer {
    margin-top: 40px;
    text-align: center;
    background: #333;
    padding: 15px;
}

footer p {
    margin: 0;
}