section {
    padding: 50px 0;
}
.info-box {
    // border: 1px solid white;
    // width: 50%;
    flex: 1 0 500px;
    position: relative;
    padding-left: 70px;
}



.info-box .icon {
    background: $second-color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    // padding: 2%;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 12px;
}

main h2 {
    @include chathura(3.5rem, bold)
}

.host {
    text-align: center;
    padding: 100px 0;
}

.host h2 {
    color: $second-color;
}

.host .button-link {
    margin: 0 auto;
}

.four-part-grid {
    // background: white;
    flex: 0 1 700px;
}

// figure {
//     flex: 1 0 500px;
// }

figure {
    // width: 40%;
    flex-basis: 500px;
    flex-grow: 1;
    // flex-shrink: 0;
    max-width: 700px;
    // min-width: 500px;
}

.fig-contain {
    // background: $background-color-2;
    background: linear-gradient(to bottom, $background-color 0%, $background-color 10%, $background-color-2 10%, $background-color-2 90%, $background-color 90% ,$background-color 100%);
}

figcaption h2 {
    // margin: 0;
    line-height: 50%;
}

.fig-contain figure:nth-of-type(1) figcaption {
    // background: tomato;
    text-align: right;
    padding: 15% 0 15% 15%;
}

.fig-contain figure:nth-of-type(2) figcaption {
    // background: white;
    // text-align: right;
    padding: 15% 15% 15% 0;
}

.push-right {
    padding: 0 0 15% 2.5%;
}

.push-left {
    padding: 0 2.5% 15% 0;
}

.blog-img {
    margin-left: 18px;
}
 .blog-img img {
    box-shadow: -20px 0px 0px 0px $second-color;
 }

.blog-post {
    border: 5px $second-color solid;
    border-right: 0;
    border-top: 0;
}

.text-box {
    padding: 10%;
}

.text-box > h2 {
    line-height: 100%;
    margin-bottom: 5px;    
}

h3, .comment h2 {
    color: $second-color;
    margin-top: 0;
    @include chathura(1.95rem, auto);
    line-height: 30%;
}

.comment h2 {
    @include chathura(3.5rem, auto);
}

.comment .text-box {
    padding: 5%;
}

.comment .image-holder {
    flex-basis: 100px;
    flex-shrink: 0;
}

.social li{
    color: white;
    flex-grow: 1;
}

.social {
    width: 160px;
    // background: tomato;
}
.contact p {
    margin: 10px 0;
}

.contact p:nth-of-type(1){
    margin: 30px 0;
}

figure.events {
    // width: 100%;
    max-width: 100%;
    vertical-align: top;
}

.events .image-holder {
    width: 25%;
    // display: inline-block;
    margin-right: 10%;
    float: left;
}

.events figcaption {
    width: calc(74% - 10%);
    // display: inline-block;
    height: 350px;
    // padding-bottom: 10px;
    float: left;
}

.events .button-link {
    margin-bottom: 10px;
    // border: 2px white solid;
}

.events h2 {
    width: 100%;
}

.events p {
    margin: calc(21% / 3) 0;
}