section {
    padding: 50px 0;
}
.info-box {
    // border: 1px solid white;
    // width: 50%;
    flex: 1 0 500px;
    position: relative;
    padding-left: 70px;
}

figure {
    flex: 1 0 500px;
}

.info-box .icon {
    background: $second-color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    // padding: 2%;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 12px;
}

main h2 {
    @include chathura(3.5rem, bold)
}

.host {
    text-align: center;
    padding: 100px 0;
}

.host h2 {
    color: $second-color;
}

.host .button-link {
    margin: 0 auto;
}

.four-part-grid {
    // background: white;
    flex: 0 1 700px;
}

figure {
    // width: 40%;
    flex-basis: 500px;
    flex-grow: 1;
    // flex-shrink: 0;
    max-width: 700px;
    // min-width: 500px;
}

.fig-contain {
    background: $background-color-2;
    background: linear-gradient(to bottom, black 0%, black 10%, $background-color-2 10%, $background-color-2 90%,black 90% ,black 100%);
}

figcaption h2 {
    // margin: 0;
    line-height: 50%;
}

.fig-contain figure:nth-of-type(1) figcaption {
    // background: tomato;
    text-align: right;
    padding: 15% 0 15% 15%;
}

.fig-contain figure:nth-of-type(2) figcaption {
    // background: white;
    // text-align: right;
    padding: 15% 15% 15% 0;
}
