@media (max-width: 1400px) {
    .push-left.blog {
        flex-basis: 100%;
        margin-top: 5%;
        display: flex;
        padding: 0 5%;
    }


    .push-right.blog {
        padding-bottom: 0;
        padding-left: 0;
        flex-shrink: 1; 
    }

    aside {
        background: $background-color-2;
    }

    aside .bg-shadow-right-2 {
        box-shadow: 0px 0px 0px 0px $background-color-2;
    }

    .posts {
        margin-left: 5%;
    }

}

@media (max-width: 1060px) {

    h1 {
        @include tulpen(calc(20vw), auto);
        width: 33%;
    }
    
    header h2 {
        @include chathura(6vw, bold);
        width: 32.5%;
    }

    figure {
        max-width: 80%;
        margin: 0 auto;
    }

    .fty-px-left-mar {
        margin-left: auto;
    }

    .events .image-holder {
        display: none
    }

    .events figcaption {
        width: 100%;
    }

    .gallery ul li:nth-of-type(3), {
        display: none;
    }

    .gallery ul li {
        display: block;
    }
    
    .contact-page {
        flex-direction: column-reverse;
    }

    .contact-page form {
        margin-top: 10%;
    }

    .contact-page .social{
        margin-top: 10%;
    }

    .contact ul {
        margin: 0 auto;
    }

    .contact p {
        text-align: center;
    }

    aside.blog .image-holder {
        display: none;
    }
    
  }

  @media (max-width: 990px ){
    .col-reverse-flex {
        flex-direction: column;
    }
  }

  @media (max-width: 900px) {
    .wrapper {
        width: 90%;
    }

    .bg-shadow-right {
        box-shadow: 15px 15px 0px 0px $second-color;
    }
    
    .bg-shadow-right-2 {
        box-shadow: 15px 15px 0px 0px $background-color-2;
    }
    
    .bg-shadow-left {
        box-shadow: -15px 15px 0px 0px $second-color;
    }

    .comments .comment h2, .text-box h3 {
        line-height: 70%
    }

    .comment.flex {
        flex-direction: column;
    }

    .comment.flex .image-holder {
        width: 100px;
    }

    .comment.flex .text-box {
        padding: 5% 0;
    }

    .blog-post .text-box {
        padding: 10% 5%;
    }



    .form-part-1 input[type='text'], 
    .form-part-1 input[type='email'] {
        flex-shrink: 1;
        margin: 0 0 10px 0;
    }

    .info-box .icon {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 0.75rem;
        top: 45px;
        padding: 6px;
    }

    .info-box {
        padding-left: 40px;
    }

  }

  @media (max-width: 600px) {
    .bg-shadow-right {
        box-shadow: 10px 10px 0px 0px $second-color;
    }
    
    .bg-shadow-right-2 {
        box-shadow: 10px 10px 0px 0px $background-color-2;
    }
    
    .bg-shadow-left {
        box-shadow: -10px 10px 0px 0px $second-color;
    }

    .gallery ul li:nth-of-type(3) {
        display: block;
    }

    .gallery ul li {
        flex-shrink: 0;
        flex-grow: 1;
        margin: 0;
    }

    .gallery li:nth-child(2) {
        margin: 10px 0;
    }

    .gallery .wrap {
        flex-direction: column;
    }

    header {
        height: 40vh;
    }

    h1 {
        @include tulpen(calc(30vw), auto);
        width: 50%;
    }
    
    header h2 {
        @include chathura(10vw, bold);
        width: 49%;
    }

    .contact-page .social{
        margin-top: 60px;
    }

    nav .nav-list {
        flex-direction: column;
    }

    nav .nav-list li {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav .nav-list li.nav-logo {
        display: none;
    }

    nav .nav-list {
        flex-direction: column;
    }

    label.nav-check {
        display: block;
    }

    label.nav-check {
        float: left;
        position: absolute;
        left: 30px;
        top: 30px;
        font-size: 40px;
        transform: rotate(-90deg);
    }
    
    input[type='checkbox'], header ul.nav-list{
        position: absolute;
        top: -400px;
        right: calc(50% - 51px);
    }
    
    input[type='checkbox']:checked + .nav-check + ul.nav-list {
        position: absolute;
        top: 10px;
        transition: top 0.65s;
    }

    input[type='checkbox'] + .nav-check + ul.nav-list {
        -webkit-transition: top 0.65s; /* Safari */
        transition: top 0.65s;
    }
    
    input[type='checkbox']:checked + label.nav-check {
        transform: rotate(0deg);
    }
    
    input[type='checkbox']:checked + label.nav-check {
        transition: transform 0.5s;        
    }
    
    input[type='checkbox'] + label.nav-check {
        transition: transform 0.5s;
    }

    .hero {
        height: calc(100%);
    }

}