@import url("https://fonts.googleapis.com/css?family=Chathura:400,700|Tulpen+One");
@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%; }

body {
  background: #111010;
  color: #ffffff; }

ul {
  list-style: none;
  padding: 0; }

img {
  display: block;
  width: 100%; }

a {
  text-decoration: none;
  color: white;
  padding: 5px; }

.wrapper {
  width: 80%; }

.wrapper, .wrapper-full-width {
  max-width: 1600px;
  margin: 0 auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

p, .button-link {
  font-family: 'Chathura', sans-serif;
  font-size: 1.95rem;
  font-weight: auto;
  line-height: 1.5rem; }

.bg-shadow-right {
  -webkit-box-shadow: 20px 20px 0px 0px #ff8327;
  box-shadow: 20px 20px 0px 0px #ff8327; }

.bg-shadow-left {
  -webkit-box-shadow: -20px 20px 0px 0px #ff8327;
  box-shadow: -20px 20px 0px 0px #ff8327; }

.button-link {
  background: #ff8327;
  text-transform: capitalize;
  width: 200px;
  text-align: center;
  padding: 10px; }

header {
  background: black;
  background: url("../assets/home-image-1.jpg");
  height: 50vh; }

header.home {
  height: 100vh; }

nav ul {
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Chathura', sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 0.063rem; }

nav li {
  padding: 0 10px; }

nav li:nth-of-type(3) {
  font-family: 'Tulpen One', cursive;
  font-size: 3rem;
  font-weight: auto; }

li .page {
  color: #ff8327; }

.hero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%; }

h1 {
  font-family: 'Tulpen One', cursive;
  font-size: 16vw;
  font-weight: auto;
  line-height: 70%;
  color: #ff8327;
  width: 27%; }

header h2 {
  font-family: 'Chathura', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  line-height: 30%;
  width: 27%;
  padding-left: 0.5%; }

h1,
h2 {
  margin: 0 auto; }

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.info-box {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 500px;
  flex: 1 0 500px;
  position: relative;
  padding-left: 70px; }

figure {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 500px;
  flex: 1 0 500px; }

.info-box .icon {
  background: #ff8327;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  position: absolute;
  top: 30px;
  left: 0;
  padding: 12px; }

main h2 {
  font-family: 'Chathura', sans-serif;
  font-size: 3.5rem;
  font-weight: bold; }

.host {
  text-align: center;
  padding: 100px 0; }

.host h2 {
  color: #ff8327; }

.host .button-link {
  margin: 0 auto; }
