@import url("https://fonts.googleapis.com/css?family=Chathura:400,700|Tulpen+One");
@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%; }

body {
  background: #111010;
  color: #ffffff; }

ul {
  list-style: none;
  padding: 0; }

img {
  display: block;
  width: 100%; }

a {
  text-decoration: none;
  color: white;
  padding: 5px; }

.fty-px-left-mar {
  margin-left: 50px; }

.wrapper {
  width: 80%; }

.wrapper, .wrapper-full-width {
  max-width: 1600px;
  margin: 0 auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.row-reverse-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.v-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.col-reverse-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

p, .button-link {
  font-family: 'Chathura', sans-serif;
  font-size: 1.95rem;
  font-weight: auto;
  line-height: 1.5rem; }

p {
  letter-spacing: 0.07rem; }

.bg-shadow-right {
  -webkit-box-shadow: 20px 20px 0px 0px #ff8327;
  box-shadow: 20px 20px 0px 0px #ff8327; }

.bg-shadow-left {
  -webkit-box-shadow: -20px 20px 0px 0px #ff8327;
  box-shadow: -20px 20px 0px 0px #ff8327; }

.button-link {
  background: #ff8327;
  text-transform: capitalize;
  width: 200px;
  text-align: center;
  padding: 10px;
  display: inline-block; }

.button-link a {
  padding: 10px; }

header {
  background: black;
  background: url("../assets/home-image-1.jpg");
  height: 50vh; }

header.home {
  height: 100vh; }

nav ul {
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Chathura', sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 0.063rem; }

nav li {
  padding: 0 10px; }

nav li:nth-of-type(3) {
  font-family: 'Tulpen One', cursive;
  font-size: 3rem;
  font-weight: auto; }

li .page {
  color: #ff8327; }

.hero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  height: calc(100% - 110px); }

h1 {
  font-family: 'Tulpen One', cursive;
  font-size: 16vw;
  font-weight: auto;
  line-height: 70%;
  color: #ff8327;
  width: 27%; }

header h2 {
  font-family: 'Chathura', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  line-height: 30%;
  width: 27%;
  padding-left: 0.5%; }

h1,
h2 {
  margin: 0 auto; }

.head-two h1 {
  font-family: 'Chathura', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  color: white;
  width: 80%;
  margin: 1% auto; }

footer {
  margin-top: 40px;
  text-align: center; }

section {
  padding: 50px 0; }

.info-box {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 500px;
  flex: 1 0 500px;
  position: relative;
  padding-left: 70px; }

figure {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 500px;
  flex: 1 0 500px; }

.info-box .icon {
  background: #ff8327;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  position: absolute;
  top: 30px;
  left: 0;
  padding: 12px; }

main h2 {
  font-family: 'Chathura', sans-serif;
  font-size: 3.5rem;
  font-weight: bold; }

.host {
  text-align: center;
  padding: 100px 0; }

.host h2 {
  color: #ff8327; }

.host .button-link {
  margin: 0 auto; }

.four-part-grid {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 700px;
  flex: 0 1 700px; }

figure {
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 700px; }

.fig-contain {
  background: -webkit-gradient(linear, left top, left bottom, from(#111010), color-stop(10%, #111010), color-stop(10%, #220303), color-stop(90%, #220303), color-stop(90%, #111010), to(#111010));
  background: -webkit-linear-gradient(top, #111010 0%, #111010 10%, #220303 10%, #220303 90%, #111010 90%, #111010 100%);
  background: -o-linear-gradient(top, #111010 0%, #111010 10%, #220303 10%, #220303 90%, #111010 90%, #111010 100%);
  background: linear-gradient(to bottom, #111010 0%, #111010 10%, #220303 10%, #220303 90%, #111010 90%, #111010 100%); }

figcaption h2 {
  line-height: 50%; }

.fig-contain figure:nth-of-type(1) figcaption {
  text-align: right;
  padding: 15% 0 15% 15%; }

.fig-contain figure:nth-of-type(2) figcaption {
  padding: 15% 15% 15% 0; }

.push-right {
  padding: 0 0 15% 2.5%; }

.push-left {
  padding: 0 2.5% 15% 0; }

.blog-img {
  margin-left: 18px; }

.blog-img img {
  -webkit-box-shadow: -20px 0px 0px 0px #ff8327;
  box-shadow: -20px 0px 0px 0px #ff8327; }

.blog-post {
  border: 5px #ff8327 solid;
  border-right: 0;
  border-top: 0; }

.text-box {
  padding: 10%; }

.text-box > h2 {
  line-height: 100%;
  margin-bottom: 5px; }

h3, .comment h2 {
  color: #ff8327;
  margin-top: 0;
  font-family: 'Chathura', sans-serif;
  font-size: 1.95rem;
  font-weight: auto;
  line-height: 30%; }

.comment h2 {
  font-family: 'Chathura', sans-serif;
  font-size: 3.5rem;
  font-weight: auto; }

.comment .text-box {
  padding: 5%; }

.comment .image-holder {
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.social li {
  color: white;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.social {
  width: 160px; }

.contact p {
  margin: 10px 0; }

.contact p:nth-of-type(1) {
  margin: 30px 0; }

form > * {
  display: block;
  font-family: 'Chathura', sans-serif;
  font-size: 1.95rem;
  font-weight: auto; }

input[type='text'],
input[type='email'],
textarea {
  background: #111010;
  border: black;
  border-bottom: 2px #ff8327 solid; }

label {
  display: none; }

input[type='text'],
input[type='email'] {
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 20px;
  color: white; }

.form-part-1 input[type='text'] {
  margin-right: 40px; }

textarea {
  color: white;
  border: 2px #ff8327 solid;
  width: 100%;
  padding: 5%; }

::-webkit-input-placeholder {
  color: white;
  opacity: 1; }

:-ms-input-placeholder {
  color: white;
  opacity: 1; }

::-ms-input-placeholder {
  color: white;
  opacity: 1; }

::placeholder {
  color: white;
  opacity: 1; }

input[type='submit'] {
  width: 100%;
  border: 0;
  padding: 10px;
  color: white;
  background: #bf2603;
  margin: 5% 0; }

.contact + form {
  background: #220303;
  -ms-flex-preferred-size: 600px;
  flex-basis: 600px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 5%; }

.contact + form textarea,
.contact + form input[type='text'],
.contact + form input[type='email'] {
  background: #220303; }

.contact + form input[type='text'],
.contact + form input[type='email'],
.contact + form textarea {
  border-color: white; }
